:root {
    // z - Индексы
    --modal-z-index: 1000;
    --overlay-z-index: 100;

    // цвета
    --color: #181818;
    --bg: #f5f5f5;
    //--main-color: #FF636C;
    //--transparent-main-color: #ffb4b9;

}
